body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .board-row1{
    clear: both;
    content: "";
    display: table;
  }
  
  .board-row{
    clear: both;
    content: "";
    display: table;
    padding-left: 200px;
  }

  .board-row1{
    padding-left: 200px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 75px;
    position: relative;
    top: 100px;
    text-align: left;
    display: flex;
    vertical-align:top;
    font-size:13px;
    left :190px;
    top:80px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .game-board{
    display: flex;
  }
  
  .title{
    background: #fff;
    border: 8px solid rgb(241, 118, 118);
    width: 280px;
    position: relative;
    font-size:50px;
    left: 320px;
    top: 150px;
    text-align: center;
  }

  .mae{
    background: #fff;
    border: 1px solid #999;
    position: relative;
    left: 200px;
    top: 235px;
    width: 100px;
    height: 80px;
  }

  .tugi{
    background: #fff;
    border: 1px solid #999;
    position:relative;
    left: 620px;
    top: 65px;
    width: 100px;
    height: 80px;
  }