html,body{
  overflow: hidden;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .board-row1{
    clear: both;
    content: "";
    display: table;
  }
  
   .td{
    position: relative;
   }
  
  .board-row{
    clear: both;
    content: "";
    display: table;
    padding-left: 200px;
  }

  .board-row1{
    padding-left: 200px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    line-height: 25px;
    height: 85px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    width: 140px;
    position: relative;
    text-align: left;
    display: flex;
    vertical-align:top;
    font-size:13px;
    left :190px;
    font-weight: 100;
  	overflow: auto;
	  overflow-x: hidden;
  }

  .name{
    position: relative;
    font-size: 20px;
    top:110px;
    left:400px;
  }

  .name2{
    position: relative;
    left:450px;
    top:70px;
  }

  .square3 {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    height: 85px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 140px;
    position: relative;
    text-align: left;
    display: flex;
    vertical-align:top;
    font-size:13px;
    left :190px;
    color:rgb(59, 204, 156);
    font-weight: 100;
    overflow: auto;
    overflow-x: hidden;
  }

 .newevent{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position:relative;
    text-align: center;
    display: flex;
    vertical-align:top;
    background-color: rgb(74, 189, 74);
    width: 135px;
    max-height: 20px;
    top:25px;
    left:1px;
    color:white;
    font-size: 13px;
    line-height: 17px;
    border-radius:3px;
    z-index:10;
 }

  .square2 {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 85px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 140px;
    position: relative;
    text-align: left;
    display: flex;
    vertical-align:top;
    font-size:13px;
    left :190px;
  }

  .square1 {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    height: 25px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 140px;
    position: relative;
    text-align: left;
    display: flex;
    vertical-align:top;
    font-size:13px;
    left :190px;
    font-weight: 100;
  }

  .today{
    position:absolute;
    background-color:rgb(59, 204, 156);
    width: 139px;
    height: 4px;
    right: 0px;
    top: 0px;
    text-align:left;
    vertical-align:top;
    z-index: 2;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .game-board{
    display: flex;
  }
  
  .title{
    background: #fff;
    width: 135px;
    position: relative;
    font-size:20px;
    left: 1229px;
    top: 25px;
  }

  .mae{
    background: #fff;
    position: relative;
    left: 1199px;
    top: 54px;
    width: 25px;
    height: 25px;
  }


  .tugi{
    background: #fff;
    position:relative;
    left: 1335px;
    bottom: 2px;
    width: 25px;
    height: 25px;
  }

  .hi{
    position: absolute;
    width: 200px;
  }

  .event{
    margin-bottom: 2px;
  }
